    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
            integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
            integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <div class="ui small olive message">
      <a href="https://github.com/Lighter-swift/" target="ext">Lighter.swift</a>,
      <a href="https://zeezide.com/en/products/enlighter/" target="zz">Enlighter</a>
      and
      <a href="https://github.com/Macro-swift/" target="ext">Macro.swift</a>
      are brought to you by
      <a href="https://helgehess.eu" target="zz"">Helge He&szlig;</a> /
      <a href="https://zeezide.com" target="zz"">ZeeZide</a>.
    </div>
    <br/>
  </body>
</html>
